@page
@model Razor_Rentals.Pages.Bookings.IndexModel
@using Microsoft.AspNetCore.Http
@using Razor_Rentals.Helper
@inject IHttpContextAccessor HttpContextAccessor
@inject IRoleChecker RoleChecker

@{
    string userEmail = HttpContextAccessor.HttpContext.Session.GetString("LoggedInEmail");
    bool isAdmin = RoleChecker.IsAdmin(userEmail);
}

@{
    ViewData["Title"] = "Bookings";
}
<div class="Centered-Vertical">
    <h1>Order History</h1>
    @{
        if (string.IsNullOrEmpty(userEmail))
        {
            <h3 class="Centered-Horizontal Validation-Red">To access your order history, please log in to your account.</h3>
        }

        else if (isAdmin == true)
        {
            <table class="Table-Style">
                <thead>
                    <tr>
                        <th>
                            Customer
                        </th>
                        <th>
                            Car
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Booking[0].BookingDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Booking[0].CarPickupDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Booking[0].CarReturnDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Booking[0].Cost)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Booking)
                    {
                        <tr>
                            <td>

                                @Html.DisplayFor(modelItem => item.Customer.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Car.Name)
                            </td>
                            <td>
                                @item.BookingDate.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @item.CarPickupDate.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @item.CarReturnDate.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cost)
                            </td>
                            <td>
                                <a asp-page="./Delete" asp-route-id="@item.BookingId" class="Delete-Button">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        }
        
 
        else
        {
        <table class="Table-Style">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Car
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Booking[0].BookingDate)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Booking[0].CarPickupDate)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Booking[0].CarReturnDate)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.Booking[0].Cost)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model.Booking.Where(b => b.Customer.Email == userEmail))
                    {
                    <tr>
                        <td>

                                @Html.DisplayFor(modelItem => item.Customer.Name)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Car.Name)
                        </td>
                        <td>
                                @item.BookingDate.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                                @item.CarPickupDate.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                                @item.CarReturnDate.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                                @if (item.CarPickupDate > DateTime.Today)
                                {
                                <a asp-page="./Delete" asp-route-id="@item.BookingId" class="Delete-Button">Delete</a>
                                }
                                else
                                {
                                <span>Cannot delete past or active bookings</span>
                                }

                        </td>
                    </tr>
                    }
            </tbody>
        </table>
        }
    }
    </div>







