@page
@model Razor_Rentals.Pages.Cars.IndexModel
@inject IHttpContextAccessor HttpContextAccessor
@inject IRoleChecker RoleChecker
@using Microsoft.AspNetCore.Http
@using Razor_Rentals.Helper



@{
    string userEmail = HttpContextAccessor.HttpContext.Session.GetString("LoggedInEmail");
    bool isAdmin = RoleChecker.IsAdmin(userEmail);
}

@{
    ViewData["Title"] = "Cars";
}
@{
    string LoggedInEmail = HttpContextAccessor.HttpContext.Session.GetString("LoggedInEmail");
}

<h1>Rent a Car</h1>

@if (isAdmin == true)
{
    <p>
        <a asp-page="Create" class="Primary-Button">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CostPerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].ImageURL)
                @*Image*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Car)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPerDay)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.ImageURL) *@
                    <img src="@item.ImageURL" alt="Car Image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    @{
                        if (isAdmin == true)
                        {
                            <a asp-page="./Delete" asp-route-id="@item.CarId" class="Delete-Button">Delete</a>
                            <a asp-page="./Edit" asp-route-id="@item.CarId" class="General-Button">Edit</a>
                        }
                    }


                    

                    @if (string.IsNullOrEmpty(LoggedInEmail))
                    {
                        <a asp-page="/Login/Login" asp-route-carId="@item.CarId" class="Primary-Button">Rent Car</a>
                    }
                    else if(isAdmin == true)
                    {
                        
                    }
                    else
                    {

                        <a asp-page="/Bookings/Create" asp-route-carId="@item.CarId" asp-route-customerId="@ViewData["CustomerId"]" class="Primary-Button">Rent Car</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
